/* CSS Grid */
body {
    margin: 0;
    padding: 0;
    color: black !important;
    font-family: 'Open Sans', sans-serif;
}

#page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "head head"
        "tabs tabs"
        "top  main"
        "nav  main"
        "foot  main";
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: 25% 75%;
}

#page>header {
    grid-area: head;
    padding-left: 15px;
    padding-top: 15px;
    color: var(--thumbBG);
}

#page>tabs {
    grid-area: tabs;
}

#page>top {
    grid-area: top;
    background-color: #999999;
    font-size: 75%;
    color: white;
}

#page>side {
    grid-area: nav;
    background-color: white;
    color: black;
    overflow-y: auto;
}

#page>main {
    grid-area: main;
    //background-color: #ffff64;
}

#page>footer {
    grid-area: foot;
    background-color: #4C7C97;
    font-size: 75%;
    color: white;
}

/* Other Styles */
:root {
    --bs-primary: #5D7C3D !important;
    --bs-focus-ring-color: #5D7C3D !important;
}

.btn-secondary {
    --bs-btn-bg: #4C7C97;
    --bs-btn-border-color: #4C7C97;
    --bs-btn-hover-bg: #4C7C97;
    --bs-btn-hover-border-color: #4C7C97;
    --bs-btn-active-bg: #4C7C97;
    --bs-btn-active-border-color: #4C7C97;
}

.text-left {
    text-align: center !important;
  }

.dropdown-menu {
    width: 100%;
}

.bg-light {
     background-color: white !important;
}

#page>footer p {
    padding-bottom: 10px;
}

p {
    margin: 0;
}

.form-check {
    margin-top: 10px;
}

.nav-link {
    color: black !important;
    font-size: 17px;
    font-weight: 700;
}

.nav-link.active {
    color: var(--thumbBG) !important;
}

.sidebar-row {
    color: white;
    padding: 15px;
    width: 100%;
    font-size: 75%
}

.row_spacing {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.navbar {
    padding-bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    padding-left: 0 !important;
}

/* Scrollbar Styles */
html {
    --scrollbarBG: lightgray;
    --thumbBG: #5D7C3D;
}

.scrollbar::-webkit-scrollbar {
    width: 11px;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 1px;
    border: 1px solid var(--scrollbarBG);
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 15px;
    /* Specified height */
    margin-right: 10px;
    /* Specified height */
    background: #C6D5B7;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: #5D7C3D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.sliderLabel {
    color: black !important;
    margin: 0px !important;
    font-size: 13px;
}

.center {
    text-align: center;
    font-size: 12px;
  }

.fauxSlider{
  background-color: white;
  //font-size: 75%;
  color: black;
}
side ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-control:focus {
    border-color: rgba(93, 124, 61, 0.25) !important;
    box-shadow: 0px 1px 1px rgba(93, 124, 61, 0.25) inset, 0px 0px 8px rgba(93, 124, 61, 0.25) !important;
}

.form-check-input:checked {
    background-color: var(--thumbBG);
    border-color: var(--thumbBG);
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff' fill-opacity="0.4"/%3e%3c/svg%3e");
    --bs-focus-ring-color: rgba(93, 124, 61, 0.25);
}

.navHead {
    display: flex
}
.navHead span {
    margin-left: 10px;
  }

iframe {
    border: none;
    width: 99%;
    height: 99%;
    overflow-y: scroll;
  }

  .dropdown-tooltip {
    display: inline-block;
    position: relative;
  }
  
  .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #6d838f;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
    white-space: normal;
      //word-wrap: break-word;
      //max-width: 500px;
  }
  
  .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6d838f transparent transparent transparent;
  }
  
  .dropdown-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .sliderLabels {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    font-weight: bold;
  }
  #mainWindow {
    padding: 0.5em;
    background-color: #fff;
  }
  #mainWindow p,
  #uploadForm {
    display: block;
    padding: 0.1em;
  }