      .sliderLabel.sliderLabelA {
        display: block !important;
      }

   /*    .sliderLabel {
        display: none !important;
      }*/

      .sliderLabelspan {
        display: none !important;
      }

      @media print {
        #page {
          display: grid !important; 
          width: 100vw !important;
          height: 100vh !important;
          grid-template-areas:
            "main main"
            "top top" 
            "side side" !important;
          grid-template-rows: 100% auto 1fr !important;
          grid-template-columns: 25% 75% !important;
        }

        /* Hide all input tags */
        .navHead,
        tabs,
        #widget,
        #dropdownContainer,
        #zeroBtn,
        #defaultBtn,
        #sliders {
          display: none;
        }

        /* Show all elements with class 'sliderlabel' */
        .sliderLabel {
          display: block !important;
        }

        .sliderLabelspan {
          display: block !important;
        }

        @page {
         /*  size: landscape; */
          size: letter;
          margin: 0.5in, 1in;
        }

        header {
          height: 70px;
        }

        .nav-tabs {
          visibility: visible !important;
          position: static !important;
        }

        .nav-item {
          display: inline-block;
        }

        .navHeadPrint {
          display: flex;
        }
        .navHeadPrint span {
          margin-left: 10px;
        }

        .tab-content {
          width: 100%;
        }

        .tab-pane {
          display: block;
          page-break-after: always;
        }

        #lafco,
        #acrcd {
          height: 32px;
        }

        #title {
          font-size: 12px !important;
        }

        #printSliders {
          break-before: always;
          /*-webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 0.5em;
          -moz-column-gap: 0.5em;
          column-gap: 0.5em;
          padding-bottom: 2px;
          font-size: 18px;
          line-height: 21px;
          -webkit-perspective: 1;*/
        }

        #sliders li {
          display: block;
          margin-bottom: 1em;
        }
        table {
            color: black;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
          }
          
          th, td {
            text-align: left;
            padding-left: 16px;
            padding-right: 16px;
          }

          tr{width: 100%}
          
          tr:nth-child(even) {
            background-color: #f2f2f2;
          }
          td:nth-child(even) {
            text-align: center;
            width: 15%;
          }
          td:nth-child(odd) {
            text-align: leaft;
            width: 85%;
          }
       }